.btn-primary {
  color: #3CB371;
  background-color: white;
  border: 3px solid;
  border-color: #FFFF00;
  /* border-radius: 24px; */
  font-weight: 700;
  font-family: 'Rock Salt', cursive;
  font-size: 20px;
  padding: 8px 14px;
}

.btn-primary:hover {
  color: #DC143C;
  background-color: white;
  border-color: #FFA500;
}

.login-btn-container {
  margin-top: 20px;
}
