h3 {
    font-family: 'Rock Salt', cursive;
    font-size: 30em;
    color: black;
    text-align: center;
    margin: 15px;
  }

.App-header {
      background-color: antiquewhite;
  }

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
}

