h1 {
  font-family: 'Rock Salt', cursive;
  font-size: 3em;
}

h2 {
  font-family: 'Open Sans', sans-serif;
}

.view-height {
  height: 100vh;
}

.raise-header {
  position: absolute;
}

.position-header {
  margin-top: 15%;
}